<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="form-body">
    <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
      <div>
        <label>Name: </label>
        <input type="text" formControlName="name" autocomplete="off" />
      </div>
      <div>
        <label>Description: </label>
        <input type="text" formControlName="description" autocomplete="off" />
      </div>
      <div>
        <label>City: </label>
        <input type="text" formControlName="city" autocomplete="off" />
      </div>
      <div>
          <ion-checkbox value="true" formControlName="isVeg" slot="start"></ion-checkbox>
          <ion-label><h3>vegetarian</h3></ion-label>
      </div>
      <button class="btn btn-success align-center" type="submit">Submit</button>
    </form>
  </div>


  <ion-card  *ngFor="let restaurant of restaurants">
    <ion-card-header>
      <ion-card-title>{{ restaurant?.name }}</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="location-outline"></ion-icon>
        {{ restaurant?.city }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-row>
        <div *ngIf="restaurant?.isVeg else nonVeg">
          <ion-img src="../../assets/icon/veg.png"></ion-img>
        </div>
        <ng-template #nonVeg>
          <ion-img src="../../assets/icon/non-veg.png"></ion-img>
        </ng-template>
        <ion-col>
          {{ restaurant?.description }}
        </ion-col>
      </ion-row>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Menu</ion-label>
          </ion-item>
          <div *ngFor="let menu of restaurant?.menu"  class="ion-padding" slot="content">
            {{menu}}
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>

</ion-content>