<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
    <ng-container *ngFor="let item of menuitems">
      <!-- <ion-scroll>
        <ion-item (click)="logout()">
          {{item}}
        </ion-item>
      </ion-scroll> -->
    </ng-container>
  </ion-header>
</ion-menu>


<ion-content>
  <ion-button (click)="logout()" style="width:100%;">sign-out</ion-button>
  <ion-virtual-scroll [items]="items" approxItemHeight="320px">
    <ion-card *virtualItem="let item; let itemBounds= bounds;">
      <div>
        <ion-img [src]="item.imgSrc" [alt]="item.name">
        </ion-img>
      </div>
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ item.content }}</ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>